<h1>Artists index page</h1>

<ul>
  <% @artists.each do |a| %>
    <h3><%= link_to a.name, artist_path(a) %></h3>
    <% a.songs.each do |s| %>
      <li><%= link_to  s.title, artist_path(a) %></li>
    <li><% end %></li>
  <% end %>
</ul>

<% if false %>
by putting this inside of the Artist.each loop I was able to have a list of songs with links

<h3><% a.songs.each do |s| %></h3>
  <li><%= link_to  s.title, artist_path(a) %></li>
<li><% end %></li>
<% end %>
