<h1>Artists index page</h1>

<ul>
  <% @artists.each do |a| %>
    <li><%= link_to a.name, artist_path(a) %></li>
        <h3><% a.songs.each do |s| %></h3>
        <li><%= link_to  s.title, artist_path(a) %></li>
        <li><% end %></li>
  <% end %>
</ul>

<% if false %>
code to comment

<% end %>
