<h1>Artists index page</h1>

<ul>
  <% @artists.each do |a| %>
    <li><%= link_to a.name, artist_path(a) %></li>
  <% end %>
</ul>

<% if false %>
code to comment






<h1><%= @category.name %></h1>

<h3><%= pluralize(@category.posts.count, 'Post') %></h3>
<ul>
  <% @posts.each do |p| %>
    <li><%= link_to p.title, post_path(p) %></li>
  <% end %>
</ul>


<% end %>
